@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

$linkColor: #3498db;

#bistole-body { margin: 0; padding: 0; }

.sample-container { 
  max-width: 600px;
  margin: 100px auto 0;
}

#bi-stolen-widget * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

#bi-stolen-widget {
  font-family: Helvetica;
  position: relative;
  min-height: 300px;
  border-radius: 2px;
  .bi-list-container {
    border: 1px solid lighten(#223844, 15%);
    border-top: 0;
    background: #223844;
    position: relative;
    overflow: auto;
  }
  ul {
    max-height: 500px;
    list-style-type: none; 
    margin: 0;
    padding: 5px 5px 2.5em;
    overflow: auto;
  }
  li {
    @include clearfix;
    margin: .5em 0 0;
    padding: 6px;
    border: 1px solid #DC7D59;
    border-radius: 2px;
    background: #fff;
    // width: 49%;
    // float: left;
    position: relative;
  }
  p, h4 { width: 73% }
  h4 {
    margin: 0;
    font-size: 17px;
    font-weight: normal;
  }
  p { color: #b1b1b1; font-weight: 200; }
  .stolen-thumb {
    float: right;
    position: relative;
    // right: 2%;
    width: 26%;
    margin-left: 2%;
    img {
      display: block; 
      width: 100%;
      height: auto;
    }
  }
  a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
      color: darken($linkColor, 10%);
    }
  }
  .widget-info {
    font-weight: 200;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    background: rgba(black,.7);
    color: #fff;
    padding: .5em 0;
  }
  .binxerror {
    padding: 10px;
    h4, p { width: 100%; }
    h4 {
      color: white;
      text-align: center;
    }
    p {
      text-align: right;
      opacity: .4;
    }
  }
  pre {
    color: #b1b1b1;
    text-align: center;
    margin: 1em 0 2em;
  }
  @media (max-width: 300px) {
    li p { display: none; }
  }
}


$lightBIBlue: #3498db;
$darkBIBlue: #2c3e50;

$skinnyHeight: 15%;
$fatHeight: 25%;


#bi-stolen-widget .bi-searchbar {
  border-radius: 2px 2px 0 0;
  background: #fff;
  width: 100%;
  height: 2.5em;
  position: relative;
  span {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
  }
  .spacing-span {
    height: 5%;
    &:first-of-type {
      height: 2.5%
    }
  }
  .top-stripe {
    background-color: $lightBIBlue;
    &.skinny-stripe { border-radius: 2px 2px 0 0; }
  }
  .bottom-stripe {
    background-color: $darkBIBlue;
  }
  .skinny-stripe {
    height: $skinnyHeight;
  }
  .fat-stripe {
    height: $fatHeight;
  }
  input {
    z-index: 10;
    display: block;
    border-radius: 6px;
    height: auto;
    font-size: 1em;
    line-height: 1.2em;
    box-shadow: 0 0 2px rgba(black, .2);
    margin: 0;
    padding: .3em .5em;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    width: 90%;
    top: .3em;
    left: 5%;
    &:focus {
      border-color: rgba(82,168,236,.9);
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      background: #fff;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    }
  }
  .bi-subm {
    height: 1.5em;
    position: absolute;
    top: .32em; right: 6%;
    border: none;
    padding: 3px;
    background: none;
    font-size: 19px;
    border-radius: 3px;
    z-index: 100;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
    &:hover, &:active, &:focus {
      background: $lightBIBlue;
      box-shadow: none;
      border: none;
      outline: none; 
    }
    &:active { background: darken($lightBIBlue, 10%); }
  }
}