#bi-stolen-widget {
  max-width: 600px;
  font-family: Helvetica;
  position: relative;
  border: 1px solid #3c6277;
  border-radius: 2px; }
  #bi-stolen-widget ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 2.5em;
    background: #223844;
    max-height: 350px;
    overflow: auto; }
  #bi-stolen-widget li {
    *zoom: 1;
    margin: .5em 0 0;
    padding: 6px;
    border: 1px solid #DC7D59;
    border-radius: 2px;
    background: #fff;
    position: relative; }
    #bi-stolen-widget li:before, #bi-stolen-widget li:after {
      display: table;
      content: "";
      line-height: 0; }
    #bi-stolen-widget li:after {
      clear: both; }
    #bi-stolen-widget li p, #bi-stolen-widget li h4 {
      width: 73%; }
    #bi-stolen-widget li h4 {
      margin: 0;
      font-size: 19px; }
    #bi-stolen-widget li .stolen-thumb {
      float: right;
      position: relative;
      width: 26%;
      margin-left: 2%; }
      #bi-stolen-widget li .stolen-thumb img {
        display: block;
        width: 100%;
        height: auto; }
