<!DOCTYPE html>
<html>
<head>
  <title>Bike Index Stolen Widget</title>
  <style type="text/css">
    body { margin: 0; padding: 0; }
    .sample-container { max-width: 600px; margin: 100px auto 100px; }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/mustache.min.js"></script>
  <script src="/widget.js"></script>
</head>
<body>
  <div class="sample-container">
    <div id="binx_stolen_widget" data-location="toronto" data-nocache="true"></div>
  </div>
</body>
</html>